p {
    color: aqua
}

h1{
    color: red;
    font-size: 50pt;
    font-weight: bold;
}

.box1 {
    height:100px;
    width:100px;
  	border-radius:50% 50% 0 50%;
  	position:absolute;
  	left:10px;
  	top:10px;
  	margin : 10px;
  	background-color:green;
  }

.box2 {
    height:100px;
    width:100px;
  	border-radius:50% 50% 50% 0;
  	position:absolute;
  	left:115px;
  	top:10px;
  	margin : 10px;
  	background-color:green;
  }
  .box3 {
    height:100px;
    width:100px;
  	border-radius:50% 0 50% 50%;
  	position:absolute;
  	left:10px;
  	top:115px;
  	margin : 10px;
  	background-color:green;
  }
  .box4 {
    height:100px;
    width:100px;
  	border-radius:0 50% 50% 50%;
  	position:absolute;
  	left:115px;
  	top:115px;
  	margin : 10px;
  	background-color:green;
  }
  </style>
​
</head>
<body>
  <div class="box1"></div>
  <div class="box2"></div>
  <div class="box3"></div>
  <div class="box4"></div>
</body>
</html>